.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;  
  }
  
  .gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .gpt3__navbar-links-logo {
    margin: 2rem;
  }

  .gpt3__navbar-links-logo img {
    height: 16.02px;
    width: 62.56px;
  }

  .gpt3__navbar-links_containers {
    display: flex;
    flex-direction: row;
  }


  .gpt3__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .gpt3__navbar-links_containers , p
  .gpt3__navbar-sign, p
  .gpt3__navbar-menu_containers, p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    cursor: pointer;
    margin: 0 1rem;
  }
  
  .gpt3__navbar-sign, button
  .gpt3__navbar-menu_containers, button {
    /* Rectangle 12 */
    
    background: #FF4820;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 500;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 24.59px;
    text-align: left;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;


  }